# Streamlit UI
streamlit==1.36.0
streamlit-option-menu==0.4.0

# ML and AI
scikit-learn==1.2.2
joblib==1.3.2

# Language models and validation
cohere==5.14.2

# Visualization
altair==4.2.2
plotly==5.18.0

# Core Libraries
numpy==1.26.3
pandas==2.1.4
protobuf==3.20.3
requests==2.31.0

# Optional (only if really needed)
# entrypoints==0.4

# Add this if using TensorFlow
# tensorflow-intel==2.11.0
